@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    html{
        display: flex;
        justify-content: center;
        height: 100%;
        margin: auto;
    }
    body{
        margin: auto;
    }
}

html{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 70%;
    margin: auto;
}
body{
    margin: auto;
    overflow-y: hidden;
}